@import '@/styles/base';

.button {
  @include reset-button;
  text-decoration: none;

  position: relative;

  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  padding: 0 px-to-rem(20);
  overflow: hidden;
  
  backdrop-filter: blur(7px);
  
  @include text-small-caps;

  @include viewport-desktop {
    height: px-to-rem(60);
    border-radius: 12px;
  }

  @include viewport-tablet {
    height: px-to-rem(56);
    border-radius: 11px;
  }

  @include viewport-phone {
    height: px-to-rem(50);
    border-radius: 10px;
  }

  &::before {
    content: '';
    display: block;
    @include absolute-fullsize;

    opacity: 0;
    @include transition(opacity 0.25s);
  }

  @include non-mobile-hover {
    &:not(:disabled) {
      &::before {
        opacity: 1;
      }
    }
  }

  &.theme_light {
    background-color: rgba(var(--color-primary-base--rgb), 0.5);
    color: var(--color-primary-dark-base);

    &::before {
      background-color: rgba(var(--color-primary-base--rgb), 0.3);
    }
  }

  &.theme_dark {
    background-color: rgba(var(--color-58--rgb), 0.5);
    color: var(--color-total-white);

    &::before {
      background-color: rgba(var(--color-58--rgb), 0.3);
    }
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

  .content {
    position: relative;
  }

  svg {
    display: block;
  }
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .icon_play {
    @include viewport-desktop {
      margin-right: 0;
    }
    @include viewport-tablet {
      margin-right: px-to-rem(4);
    }
    @include viewport-phone {
      margin-right: px-to-rem(7);
    }
  }

  .sup {
    @include viewport-desktop {
      margin-left: px-to-rem(15);
    }
    @include viewport-tablet {
      margin-left: px-to-rem(12);
    }
    @include viewport-phone {
      margin-left: px-to-rem(10);
    }
  }
}

.sup {
  opacity: 0.5;
}

.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.icon_play {
  width: auto;

  @include viewport-desktop {
    height: px-to-rem(40);
  }
  @include viewport-tablet {
    height: px-to-rem(30);
  }
  @include viewport-phone {
    height: px-to-rem(20);
  }
  
  &.desktop {
    @include viewport-phone {
      display: none;
    }
  }
  
  &.phone {
    @include viewport-tablet-min {
      display: none;
    }
  }
}
