@import '@/styles/base';

.stories_frame {
  @include absolute-fullsize;
  overflow: hidden;

  user-select: none;

  background-color: var(--color-total-black);
  color: var(--color-total-white);
  
  .content {
    @include viewport-tablet-min {
      left: calc((var(--dot-width) + var(--gap)) * var(--index));
      width: var(--dot-width);
    }

    @include viewport-desktop {
      bottom: px-to-rem(18);
    }

    @include viewport-phone {
      @media (orientation: landscape) {
        display: none;
      }
    }
  }
}

.media {
  @include absolute-fullsize;

  &.has_overlay {
    &::after {
      content: '';
      display: block;
      @include absolute-fullsize;
      background-color: var(--color-total-black);
      opacity: 0.3;
    }
  }
}

.children {
  @include absolute-fullsize;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
