@import '@/styles/base';

.image_map {
  @include absolute-fullsize;

  user-select: none;
}

.draggable_scene {
  @include absolute-fullsize;

  &.draggable {
    cursor: all-scroll;
  }

  .overlay {
    @include absolute-fullsize;
  }
}

.drag_indicator {
  &.hide {
    display: none;
  }
}

.children {
  @include absolute-fullsize;
}
