@import '@/styles/base';

.header_inline_menu {
  @include reset-ul;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  padding: 0 px-to-rem(30);

  .link {
    @include transition(opacity 0.35s);
  }

  @include non-mobile-hover {
    .link {
      opacity: 0.75;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.li {
  + .li {
    margin-left: px-to-rem(34);
  }
}

.link {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-size: px-to-rem(20);
  font-style: normal;
  font-weight: 400;
  line-height: px-to-rem(34);
  text-decoration: none;
  color: currentColor;

  &.highlighted {
    &::after {
      content: '';
      display: block;
      width: 0.5em;
      height: 0.5em;
      margin-left: 0.15em;
      margin-top: -0.4em;
      border-radius: 50%;
      background-color: var(--color-highlight);
    }
  }
}
