@import '@/styles/base';

.button {
  @include reset-button;
  text-decoration: none;

  position: relative;
  
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-radius: px-to-rem(100);
  padding: 0 px-to-rem(30);

  @include viewport-desktop {
    height: px-to-rem(60);
    
    @include text-smaller;
  }
  
  @include viewport-tablet {
    height: px-to-rem(56);

    @include text-smaller;
  }
  
  @include viewport-phone {
    height: px-to-rem(50);

    @include text-small;
  }

  @include transition((background-color 0.35s, color 0.35s));

  &.theme_light {
    background-color: var(--color-primary-base);
    color: var(--color-primary-dark-base);
    
    @include non-mobile-hover {
      background-color: var(--color-background-light);
    }
  }
    
  &.theme_dark {
    background-color: var(--color-primary-dark-base);
    color: var(--color-total-white);
    
    @include non-mobile-hover {
      background-color: var(--color-background-black);
    }
  }

  &.success {
    background-color: var(--color-green-success) !important;
    color: var(--color-total-white);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}

.content,
.success_icon {
  @include transition((visibility 0.35s, opacity 0.35s));
}

.content {
  &.hide {
    opacity: 0;
    visibility: hidden;
  }
}

.success_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;

  opacity: 0;
  visibility: hidden;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  @include viewport-desktop {
    width: px-to-rem(30);
  }
  @include viewport-tablet {
    width: px-to-rem(24);
  }
  @include viewport-phone {
    width: px-to-rem(20);
  }
}
