@import '@/styles/base';

.events_grouped_items_collection {
  padding: 0 var(--grid-gap) var(--grid-gap) var(--grid-gap);
}

.events_grouped_items_collection,
.group {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--grid-gap);
}
