@import '@/styles/base';

.button {
  --duration: 0.35s;

  @include reset-button;
  text-decoration: none;

  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-radius: px-to-rem(30);
  padding: 0 var(--x-pad);

  background-color: var(--color-total-white);
  color: var(--color-primary-dark-base);
  
  @include transition((background-color 0.35s, padding 0.35s));
    
  @include non-mobile-hover {
    background-color: var(--color-primary-base);
  }

  @include viewport-desktop {
    height: px-to-rem(50);
    --x-pad: #{px-to-rem(18)};

    @include text-smaller;
  }

  @include viewport-tablet-max {
    @include text-small;
  }

  @include viewport-tablet {
    height: px-to-rem(46);
    --x-pad: #{px-to-rem(18)};
  }

  @include viewport-phone {
    height: px-to-rem(42);
    --x-pad: #{px-to-rem(15)};
  }

  &::before {
    content: '';
    position: absolute;
    width: 21px;
    height: 21px;
    background-image: url('./img/arrow.svg');
    background-size: 100% 100%;
    
    @include transition(opacity var(--duration));
  }

  &.arrow_bl,
  &.arrow_tl {
    &:not(.active) {
      padding-right: px-to-rem(7);
    }

    .count {
      order: 2;
      margin-left: px-to-rem(5);
    }
  }

  &.arrow_br,
  &.arrow_tr {
    &:not(.active) {
      padding-left: px-to-rem(7);
    }

    .count {
      margin-right: px-to-rem(5);
    }
  }

  &.arrow_bl {
    &::before {
      bottom: -4px;
      left: -4px;
    }
  }

  &.arrow_br {
    &::before {
      transform: rotate(270deg);
      bottom: -3px;
      right: -5px;
    }
  }

  &.arrow_tl {
    &::before {
      transform: rotate(90deg);
      top: -4px;
      left: -4px;
    }
  }

  &.arrow_tr {
    &::before {
      transform: rotate(180deg);
      top: -4px;
      right: -4px;
    }
  }

  &.active {
    &::before {
      opacity: 0;
    }
  }
}

.count {
  @include viewport-desktop {
    --size: #{px-to-rem(36)};
  }
  @include viewport-tablet {
    --size: #{px-to-rem(32)};
  }
  @include viewport-phone {
    --size: #{px-to-rem(28)};
  }

  position: relative;
  width: var(--size);
  height: var(--size);

  @include transition((width var(--duration), margin var(--duration)));

  &::after {
    content: attr(data-content);
    position: absolute;
    top: calc(50% - var(--size) / 2);
    left: calc(50% - var(--size) / 2);
    width: var(--size);
    height: var(--size);

    border-radius: 50%;
    background-color: var(--color-primary-base);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @include viewport-tablet-min {
      @include text-smaller;
    }
    @include viewport-phone {
      @include text-small;
    }

    @include transition(transform var(--duration));
  }

  &.active {
    width: 0;
    margin: 0 !important;

    &::after {
      transform: scale(0);
    }
  }
}

.close {
  @include transition((width var(--duration), margin-right var(--duration), opacity var(--duration)));

  width: 0;
  margin-right: 0;
  margin-left: 0;
  opacity: 0;
  transform: translateZ(0);

  background-image: url('./img/close.svg');
  background-position: center;
  background-size: 15px;
  background-repeat: no-repeat;

  &.active {
    opacity: 1;
  }

  @include viewport-desktop {
    height: px-to-rem(40);
  
    &.active {
      width: px-to-rem(40);
      margin-right: px-to-rem(-11);
    }
  }

  @include viewport-tablet {
    height: px-to-rem(30);
  
    &.active {
      width: px-to-rem(30);
      margin-left: px-to-rem(6);
    }
  }

  @include viewport-phone {
    height: px-to-rem(20);
  
    &.active {
      width: px-to-rem(20);
      margin-left: px-to-rem(6);
    }
  }
}
