@import '@/styles/base';

.labels {
  position: relative;
  width: 100%;
  height: var(--size);

  --size: 1.25em;

  @include text-display;
  line-height: 100% !important;

  .scene {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--size);
    overflow: hidden;
  }

  .children {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;

    @include viewport-desktop {
      margin-bottom: px-to-rem(8);
    }
    @include viewport-tablet {
      margin-bottom: px-to-rem(5);
    }
    @include viewport-phone {
      margin-bottom: px-to-rem(2);
    }
  }
}

.track {
  --active-index: 0;
  @include transition(transform var(--duration));

  transform: translate3d(0, calc(var(--active-index) * var(--size) * -1), 0);
}

.label {
  margin: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: var(--size);

  white-space: nowrap;
  text-align: center;

  @include transition(opacity var(--duration));
  opacity: 0.2;

  &.active {
    opacity: 1;
  }
}
