.galleryItemRow {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    width: 100%;
    margin-left: 4px;

    @media (min-width: 992px) {
        flex-direction: row;
        width: calc(100% - 8px);
        justify-content: space-between;
    }
}