@import '@/styles/base';

.stories_base {
  @include absolute-fullsize;
  overflow: hidden;

  user-select: none;

  background-color: var(--color-total-black);
  color: var(--color-total-white);

  &::before {
    content: '';
    display: block;
    @include absolute-fullsize;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.05) 50%, rgba(0, 0, 0, 0) 100%);

    animation: loading 1s infinite;
    animation-timing-function: linear;
    animation-fill-mode: both;

    @keyframes loading {
      from {
        transform: translateX(-100%);
      }

      50% {
        transform: translateX(0);
      }

      to {
        transform: translateX(100%);
      }
    }
  }
}

.media {
  @include absolute-fullsize;

  &.has_overlay {
    &::after {
      content: '';
      display: block;
      @include absolute-fullsize;
      background-color: var(--color-total-black);
      opacity: 0.2;
    }
  }
}

.children {
  @include absolute-fullsize;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
