.reviewContainer {
  display: flex;
  position: relative;
  width: 100%;
  
  @media (min-width: 992px) {
    width: 100%;
    margin-left: 150px;
    overflow: visible;
    gap: 30px;
  }
}

.slideWrapper {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
  align-items: center;
  margin-left: 7px;
}