.galleryItem {
    position: relative;
    overflow: hidden;
    width: calc(100% - 6px);
    height: 537px;
    border-radius: 20px;

    .infoCardContainer {
        position: absolute;
        bottom: 4px;
        margin-left: 4px;
        width: calc(100% - 8px);
        display: flex;
        justify-content: center;
    }

    @media (min-width: 992px) {
        height: 900px;
        width: calc(100% - 8px);


        .infoCardContainer {
            right: 46px;
            bottom: 46px;
            justify-content: flex-end;
        }
    }
}

.halfWidth {
    @media (min-width: 992px) {
        width: calc(50% - 2px);
        height: 750px;
    }
}

.notRounded {
    border-radius: 0;
    width: 100%;
    @media (min-width: 992px) {
        border-radius: 0;
    }
}