.main {
  display: flex; // flex был здесь неуместен, так как мы не выравниваем содержимое .main
  width: auto;
  height: 12807px; // Или можно установить фиксированную высоту, если она вам известна
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
}

.fullscreenVideo {
  width: 100%; // Пусть видео занимает всю ширину контейнера .main
  height: 100vh; // Пусть видео занимает всю высоту видимой области
  position: relative;
  overflow: hidden;

  video.videoBg {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.homeTitle {
  position: absolute;
  width: 529px;
  height: 276px;
  left: 50%;
  top: 347px; // Поскольку .main теперь не использует flex, это значение нужно скорректировать
  transform: translate(-50%, -50%); // Центрируем относительно указанных top и left
  color: rgb(255, 255, 255);
  font-family: 'Suisse Intl', sans-serif;
  font-size: 80px;
  font-weight: 400;
  line-height: 110%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
}

.callToAction {
  position: absolute;
  left: 50%; // Центрировать кнопки по горизонтали
  bottom: 4%; // Отступ снизу с небольшим запасом для учета разных размеров экранов
  transform: translateX(-50%); // Смещение кнопок влево на половину их ширины
  display: flex;
  gap: 20px; // Расстояние между кнопками
  z-index: 2;
}

.buttonPrimary,
.buttonSecondary {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  border: none;
  color: #fff;
  cursor: pointer;
  text-decoration: none; // Убрать подчеркивание у ссылки
  display: flex;
  align-items: center;
  gap: 10px; // Расстояние между иконкой и текстом

  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.icon {
  display: inline-block; // Чтобы иконки корректно встраивались в поток
  vertical-align: middle; // Чтобы иконки были по центру относительно текста
}

.captionBox {
  position: absolute;
  width: 1119px; // Ширина блока согласно макету
  height: 146px; // Высота блока согласно макету
  left: 390px; // Левый отступ согласно макету
  top: 1154px; // Верхний отступ согласно макету
  color: rgb(24, 29, 31); // Цвет текста согласно макету
  font-family: 'Suisse Intl', sans-serif; // Шрифт согласно макету
  font-size: 80px; // Размер шрифта согласно макету
  font-weight: 400; // Насыщенность шрифта согласно макету
  line-height: 110%; // Межстрочный интервал согласно макету
  letter-spacing: -1px; // Межбуквенное расстояние согласно макету
  text-align: center; // Выравнивание текста по центру
  display: flex; // Используем flexbox для выравнивания содержимого
  align-items: center; // Центрируем содержимое по вертикали
  justify-content: center; // Центрируем содержимое по горизонтали
  z-index: 2; // Значение z-index, чтобы убедиться, что текст отображается над другими элементами
}


.gallerySection {
  position: absolute;
  left: 4px; // Отступ слева согласно макету
  width: 1910px;
  height: 900px;
  top: 1400px; // Отступ сверху согласно макету
  z-index: 6; // Убедитесь, что z-index выше, чем у предыдущих секций
}

.gallerySection1 {
  position: absolute;
  left: 4px; // Отступ слева согласно макету
  width: 1910px;
  height: 900px;
  top: 3060px; // Отступ сверху согласно макету
  z-index: 6; // Убедитесь, что z-index выше, чем у предыдущих секций
  border-radius: 30px;
  overflow: hidden;
}

.galleryItem {
  position: relative;
  width: 100%;
  height: 100%;
}

.galleryItemSmall {
  position: relative;
  width: 50%;
  height: 750px;
  border-radius: 30px;
  overflow: hidden;
}

.itemContainer {
  position: relative;
  width: 1910px;
  z-index: 2;
  height: 900px;
  display: flex;
  justify-content: center;
  top: 1410px;
  left: 4px;
}

.itemContainer1 {
  position: relative;
  width: 1910px;
  z-index: 2;
  height: 900px;
  display: flex;
  justify-content: center;
  top: 2170px;
  left: 4px;
}

.infoCard {
  position: absolute;
  bottom: 46px;
  right: 50px; // о
  width: 500px; // ширина согласно макету
  height: 229px; // высота согласно макету
  background-color: rgb(242, 242, 242); // фоновый цвет согласно макету
  border-radius: 30px; // скругление углов согласно макету
  box-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.12); // тень согласно макету
  display: flex;
  flex-direction: column;
  justify-content: flex-start; // выравнивание содержимого по вертикали в центре
  align-items: flex-start; // выравнивание содержимого по горизонтали в центре
  z-index: 2; // чтобы элемент был над другими
}

.infoCardTitle {
  color: rgb(33, 33, 33);
  font-family: "Suisse Int'l";
  font-size: 30px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0px;
  text-align: left;
  width: 420px;
  height: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  left: 40px;
  top: 10px;
}

.infoCardSubtitle {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 420px;
  height: 14px;
  left: 40px;
  opacity: 0.7;
  color: rgb(33, 33, 33);
  font-family: 'Suisse Intl';
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0px;
  text-align: left;
}