@import '@/styles/base';

.drag_indicator {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 12px;
  height: 6px;
  
  border-radius: 10px;

  background-color: rgba(var(--color-primary-dark-base--rgb), 0.7);
  @include transition(background-color 0.25s);

  &.active {
    background-color: rgba(var(--color-primary-dark-base--rgb), 1);
  }
}

.bar {
  --progress: 0;

  position: absolute;
  width: 36%;
  height: 100%;
  left: calc((100% - 36%) / 2 + ((100% - 36%) / 2 * var(--progress)));
  
  border-radius: inherit;

  background-color: rgba(var(--color-total-white--rgb), 0.5);
  @include transition(background-color 0.25s);

  &.active {
    background-color: rgba(var(--color-total-white--rgb), 1);
  }
}
