@import '@/styles/base';

.button {
  @include reset-button;

  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: px-to-rem(60);
  padding: 0 px-to-rem(30);
  border: 1px solid currentColor;
  border-radius: px-to-rem(100);

  font-size: px-to-rem(20);
  font-style: normal;
  font-weight: 400;
  color: var(--color-total-white);

  &.has_background {
    background-color: var(--color-total-black);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}
