@import '@/styles/base';

.home_long_read {
  position: relative;
  width: 100%;
  height: 300vh;

  --duration: 0.5s;
}

.container {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  .labels,
  .title {
    position: relative;
    z-index: 1;
  }
}

.title {
  @include viewport-desktop {
    @include text-heading-2;
    line-height: 100% !important;
    margin: 0 0 px-to-rem(20) !important;
  }

  @include viewport-tablet {
    @include text-heading-2;
    line-height: 100% !important;
    margin: 0 0 px-to-rem(14) !important;
  }

  @include viewport-phone {
    @include text-heading-2;
    line-height: 100% !important;
    margin: 0 0 px-to-rem(8) !important;

    @media (orientation: landscape) {
      display: none;
    }
  }
}
