@import '@/styles/base';

.footer_links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  @include viewport-desktop {
    @include text-body;
  }

  @include viewport-tablet-max {
    @include text-small;
  }

  > * + *,
  .links > * + * {
    @include viewport-desktop {
      margin-top: px-to-rem(20) !important;
    }
    @include viewport-tablet {
      margin-top: px-to-rem(16) !important;
    }
    @include viewport-phone {
      margin-top: px-to-rem(12) !important;
    }
  }
}

.title {
  margin: 0;
  opacity: 0.5;
}

.links {
  @include reset-ul;
}
