@import '@/styles/base';

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  color: var(--color-primary-dark-base);

  > * + * {
    width: 100%;
  }

  @include viewport-desktop {
    min-height: px-to-rem(300);
    border-radius: 12px;
    padding: px-to-rem(20) px-to-rem(35) px-to-rem(35);
    background: var(--color-total-white);
  }

  @include viewport-tablet {
    min-height: px-to-rem(230);
    border-radius: 10px;
    padding: px-to-rem(20) px-to-rem(24) px-to-rem(24);
    background: var(--color-total-white);
  }

  @include viewport-phone {
    min-height: px-to-rem(162);
    border-radius: 8px;
    padding: px-to-rem(20) px-to-rem(15) px-to-rem(15);
    background: var(--color-primary-base);
  }
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .submit {
    flex-shrink: 0;
    margin-left: px-to-rem(10);
    opacity: 1;
  }
}

.text {
  margin: 0;

  @include viewport-desktop {
    @include text-smaller;
  }
  @include viewport-tablet-max {
    @include text-small;
  }
}
