@media (max-width: 768px) {
  .homeTitle {
    font-size: 20px; /* Уменьшаем размер шрифта для мобильных устройств */
    top: 30%; /* Перемещаем заголовок немного выше */
    transform: translate(-50%, -30%); /* Пересчитываем смещение */
  }

  h1 {
    font-size: 20px; /* Уменьшаем размер шрифта для мобильных устройств */
    top: 30%; /* Перемещаем заголовок немного выше */
    transform: translate(-50%, -30%); /* Пересчитываем смещение */
  }
}
