@import '@/styles/base';

.google_map {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  user-select: none;

  @include viewport-desktop {
    padding-top: 76.8939%;
  }
  @include viewport-tablet {
    padding-top: 72.74447%;
  }
  @include viewport-phone {
    padding-top: 68.595%;
  }

  :global(.gm-style) { 
    iframe + div { 
      border: 0 !important;
    }
  }
}
