@import '@/styles/base';

.navigation_button {
  @include reset-button;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: px-to-rem(70);
  padding: 0 px-to-rem(32);
  
  border-radius: px-to-rem(100);
  
  background-color: var(--color-primary-dark-base);
  color: var(--color-total-white);

  @include text-body;

  svg {
    width: px-to-rem(20);
    height: auto;
  }
}
