@import '@/styles/base';

.events_items_collection {
  display: grid;
  gap: var(--grid-gap);

  @include viewport-desktop {
    grid-template-columns: repeat(4, 1fr);
  }

  @include viewport-tablet {
    grid-template-columns: repeat(3, 1fr);
  }

  @include viewport-phone {
    grid-template-columns: 1fr;

    @media (min-width: 550px) or (orienation: landscape) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
