@import '@/styles/base';

.home_long_read {
  position: relative;
  width: 100%;
  height: 220vh;

  --duration: 0.5s;
}

.container {
  position: sticky;
  top: calc(100vh - var(--height));
  left: 0;
  width: 100%;
  height: var(--height);

  @include viewport-tablet-min {
    --height: 100vh;
  }
  @include viewport-phone {
    --height: calc(100vh - var(--header-height) - var(--header-top) * 2);
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  .labels {
    position: relative;
    z-index: 1;

    @include viewport-phone {
      margin-top: calc(-0.11 * var(--height));
    }
  }
}

.title {
  text-align: center;

  @include viewport-desktop {
    @include text-heading-2;
    line-height: 100% !important;
  }

  @include viewport-tablet {
    @include text-heading-2;
    line-height: 100% !important;
  }

  @include viewport-phone {
    @include text-heading-1;
    line-height: 100% !important;

    @media (orientation: landscape) {
      display: none;
    }
  }
}
