@import '@/styles/base';

.main_content {
  @include absolute-fullsize;

  opacity: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  padding-left: var(--wrap);
  padding-right: var(--wrap);

  @include viewport-tablet-min {
    padding-bottom: 2.5%;
  }

  @include viewport-phone {
    @media (orientation: portrait) {
      padding-bottom: 9%;
    }
    
    @media (orientation: landscape) {
      padding-top: 5%;
    }
  }

  &.default_active {
    opacity: 1;
  }

  &:not(.active) {
    pointer-events: none;
  }

  .title {
    max-width: 11em;
  }

  .description {
    max-width: 35.88em;

    @include viewport-desktop {
      margin-top: px-to-rem(30);
    }
    @include viewport-tablet {
      margin-top: px-to-rem(24);
    }
    @include viewport-phone {
      margin-top: px-to-rem(19);
    }
  }
}

.title {
  @include text-heading-1;
}

.description {
  margin: 0;

  @include viewport-tablet-min {
    @include text-body;
  }
  
  @include viewport-phone {
    @include text-small;
  }
}
