.gallery {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 4px;
}

.captionBoxContainer {
  width: 100%;
  height: 303px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    width: 100%;
    height: 474px;
  }
}

.captionBox {
  width: calc(100% - 30px); 
  height: 103px;
  font-family: 'Suisse Intl', sans-serif;
  font-size: 24px;
  color: black;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -1px;
  text-align: center;
  position: absolute;
  top: 100px;
  padding: 0 15px; 

  @media (min-width: 768px) {
    width: calc(100% - 600px); 
    height: 106px;
    font-size: 80px;
    line-height: 110%;
    padding: 0 300px; 
    top: 150px;
  }
}
