@import '@/styles/base';

.home_paragraph_item {
  border-top: 1px solid currentColor;

  @include viewport-desktop {
    --pad-y: calc(8.95 * var(--vh));
    --height: calc(100 * var(--vh));
  }

  @include viewport-tablet {
    --pad-y: #{px-to-rem(60)};
    --height: calc(100 * var(--vh));
  }

  @include viewport-tablet-min {
    padding: 0 var(--wrap);
    
    .phone_action {
      display: none;
    }
  }

  @include viewport-phone {
    --pad-y: #{px-to-rem(30)};
    --height: calc(100 * var(--vh));

    padding: 0 2px px-to-rem(20);
  }

  height: 1000px;
}

.container {
  background-color: #ccc;

  @include viewport-tablet-min {
    display: grid;
    grid-template-columns: 0.49fr 0.386fr;
    justify-content: space-between;

    .phone_stats {
      display: none;
    }
  }

  @include viewport-phone {
    position: sticky;
    top: -105px;

    .desktop_aside {
      display: none;
    }
  }
}

.desktop_aside {
  --media-height: calc((var(--height) - var(--pad-y) * 2) * 0.792);

  &__media {
    position: relative;
    display: grid;
    height: calc(var(--media-height) + var(--height));
    margin-top: calc(var(--height) * -1);
    padding: var(--pad-y) 0 calc(var(--height) - var(--pad-y));

    > * {
      position: relative;
      border-radius: 20px;
      transform: translateZ(0);
      overflow: hidden;
    }
  }

  &__content {
    display: grid;
    position: sticky;
    top: 0;
    height: var(--height);
    padding: var(--pad-y) 0;

    > * {
      position: relative;
      background-color: #f00;
    }
  }
}

.content {
  @include viewport-tablet-min {
    position: sticky;
    top: 0;
    height: max-content;
    min-height: var(--height);

    @include viewport-desktop {
      padding: calc(var(--pad-y) + #{px-to-rem(110)}) 0;
    }
    @include viewport-tablet {
      padding: calc(var(--pad-y) + #{px-to-rem(54)}) 0;
    }
  }

  @include viewport-phone {
    padding: px-to-rem(30) calc(var(--wrap) - 2px);
  }
}

.action {
  width: 100%;
}

.phone_stats {
  width: 100%;
  height: px-to-rem(415);
  background-color: #33f;
}

.phone_media {
  // margin-top: px-to-rem(-415);
  // width: 100%;
  // height: px-to-rem(415);
  // background-color: #f0f;
}
