@import '@/styles/base';

.form_subscribe_input {
  position: relative;
}

.input_container {
  position: relative;
  width: 100%;

  @include viewport-desktop {
    height: px-to-rem(100);
  }
  @include viewport-tablet {
    height: px-to-rem(80);
  }
  @include viewport-phone {
    height: px-to-rem(60);
  }
  
  @include input-placeholder-color(rgba(var(--color-primary-dark-base--rgb), 0.3));

  .input {
    @include absolute-fullsize;

    @include viewport-desktop {
      padding: 0 px-to-rem(100) 0 px-to-rem(30);
    }
    @include viewport-tablet {
      padding: 0 px-to-rem(80) 0 px-to-rem(24);
    }
    @include viewport-phone {
      padding: 0 px-to-rem(60) 0 px-to-rem(20);
    }
  }

  .children {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    @include viewport-desktop {
      width: px-to-rem(40);
      height: px-to-rem(40);
      right: px-to-rem(30);
    }

    @include viewport-tablet {
      width: px-to-rem(30);
      height: px-to-rem(30);
      right: px-to-rem(24);
    }

    @include viewport-phone {
      width: px-to-rem(20);
      height: px-to-rem(20);
      right: px-to-rem(20);
    }
  }
}

.input {
  border-radius: 12px;
  background-color: var(--color-primary-base);
  color: var(--color-primary-dark-base);

  font-style: normal;
  font-weight: 400;

  @include viewport-desktop {
    line-height: 120%;
    font-size: px-to-rem(25);
  }

  @include viewport-tablet {
    line-height: 124%;
    font-size: px-to-rem(22);
  }

  @include viewport-phone {
    line-height: 130%;
    font-size: px-to-rem(20);
  }

  &.is_error {
    color: var(--color-squara-red);
  }
}

.error_text {
  margin: px-to-rem(10) 0 0 0;

  font-size: px-to-rem(16);
  line-height: 120%;

  color: var(--color-squara-red);
}
