@import '@/styles/base';

.events_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: currentColor;

  .image {
    width: 100%;
    flex-shrink: 0;
  }

  .content {
    width: 100%;
    height: 100%;
  }
}

.image {
  position: relative;
  overflow: hidden;
  transform: translateZ(0);
  padding-top: 105.3%;

  @include viewport-desktop {
    border-radius: 12px;
  }
  @include viewport-tablet {
    border-radius: 10px;
  }
  @include viewport-phone {
    border-radius: 8px 8px 4px 4px;
  }
}

.date {
  position: absolute;
  top: px-to-rem(15);
  left: px-to-rem(15);

  background: var(--color-background-dark);
  backdrop-filter: blur(10px);

  color: var(--color-total-white);
  text-align: center;

  @include viewport-desktop {
    border-radius: 6px;
    padding: px-to-rem(10) px-to-rem(19) px-to-rem(4);
  }

  @include viewport-tablet {
    border-radius: 8px;
    padding: px-to-rem(10) px-to-rem(16);
  }

  @include viewport-phone {
    border-radius: 7px;
    padding: px-to-rem(8) px-to-rem(13) px-to-rem(12);
  }

  b {
    display: block;
    @include text-body;
  }

  span {
    display: block;

    @include viewport-tablet-min {
      @include text-small-caps;
      margin-top: px-to-rem(-8);
    }

    @include viewport-phone {
      @include text-smaller-caps;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-between;
  background: var(--color-total-white);
  color: var(--color-primary-dark-base);

  @include viewport-desktop {
    padding: px-to-rem(22) px-to-rem(20) px-to-rem(25);
    border-radius: 12px;

    .order_info {
      margin-top: px-to-rem(20);
    }
  }

  @include viewport-tablet {
    padding: px-to-rem(18) px-to-rem(18);
    border-radius: 8px 8px 10px 10px;

    .order_info {
      margin-top: px-to-rem(30);
    }
  }

  @include viewport-phone {
    padding: px-to-rem(10) px-to-rem(15) px-to-rem(15);
    border-radius: 4px 4px 8px 8px;

    .order_info {
      margin-top: px-to-rem(40);
    }
  }
}

.base_info {
  .type {
    margin: 0;
    @include text-small-caps;
  }
  
  .title {
    margin: 0;
    @include text-body;

    @include viewport-desktop {
      margin-top: px-to-rem(4);
    }
  }
}

.order_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &__text {
    @include viewport-tablet-min {
      @include text-smaller;
    }

    @include viewport-phone {
      @include text-small;
    }
  }

  &__button {
    width: 120px;
    background-color: #f0f;

    @include viewport-desktop {
      height: px-to-rem(60);
    }
    @include viewport-tablet {
      height: px-to-rem(54);
    }
    @include viewport-phone {
      height: px-to-rem(50);
    }
  }
}
