@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl/SuisseIntl-Bold.woff2') format('woff2'),
    url('/fonts/SuisseIntl/SuisseIntl-Bold.woff') format('woff'),
    url('/fonts/SuisseIntl/SuisseIntl-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl/SuisseIntl-Light.woff2') format('woff2'),
    url('/fonts/SuisseIntl/SuisseIntl-Light.woff') format('woff'),
    url('/fonts/SuisseIntl/SuisseIntl-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl/SuisseIntl-BoldItalic.woff2') format('woff2'),
    url('/fonts/SuisseIntl/SuisseIntl-BoldItalic.woff') format('woff'),
    url('/fonts/SuisseIntl/SuisseIntl-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl/SuisseIntl-LightItalic.woff2') format('woff2'),
    url('/fonts/SuisseIntl/SuisseIntl-LightItalic.woff') format('woff'),
    url('/fonts/SuisseIntl/SuisseIntl-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl/SuisseIntl-BlackItalic.woff2') format('woff2'),
    url('/fonts/SuisseIntl/SuisseIntl-BlackItalic.woff') format('woff'),
    url('/fonts/SuisseIntl/SuisseIntl-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl/SuisseIntl-Medium.woff2') format('woff2'),
    url('/fonts/SuisseIntl/SuisseIntl-Medium.woff') format('woff'),
    url('/fonts/SuisseIntl/SuisseIntl-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl Book';
  src: url('/fonts/SuisseIntl/SuisseIntl-Book.woff2') format('woff2'),
    url('/fonts/SuisseIntl/SuisseIntl-Book.woff') format('woff'),
    url('/fonts/SuisseIntl/SuisseIntl-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl Book';
  src: url('/fonts/SuisseIntl/SuisseIntl-BookItalic.woff2') format('woff2'),
    url('/fonts/SuisseIntl/SuisseIntl-BookItalic.woff') format('woff'),
    url('/fonts/SuisseIntl/SuisseIntl-BookItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl/SuisseIntl-SemiBold.woff2') format('woff2'),
    url('/fonts/SuisseIntl/SuisseIntl-SemiBold.woff') format('woff'),
    url('/fonts/SuisseIntl/SuisseIntl-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl/SuisseIntl-Thin.woff2') format('woff2'),
    url('/fonts/SuisseIntl/SuisseIntl-Thin.woff') format('woff'),
    url('/fonts/SuisseIntl/SuisseIntl-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl/SuisseIntl-MediumItalic.woff2') format('woff2'),
    url('/fonts/SuisseIntl/SuisseIntl-MediumItalic.woff') format('woff'),
    url('/fonts/SuisseIntl/SuisseIntl-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl/SuisseIntl-Black.woff2') format('woff2'),
    url('/fonts/SuisseIntl/SuisseIntl-Black.woff') format('woff'),
    url('/fonts/SuisseIntl/SuisseIntl-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl/SuisseIntl-Regular.woff2') format('woff2'),
    url('/fonts/SuisseIntl/SuisseIntl-Regular.woff') format('woff'),
    url('/fonts/SuisseIntl/SuisseIntl-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl/SuisseIntl-SemiBoldItalic.woff2') format('woff2'),
    url('/fonts/SuisseIntl/SuisseIntl-SemiBoldItalic.woff') format('woff'),
    url('/fonts/SuisseIntl/SuisseIntl-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl/SuisseIntl-Italic.woff2') format('woff2'),
    url('/fonts/SuisseIntl/SuisseIntl-Italic.woff') format('woff'),
    url('/fonts/SuisseIntl/SuisseIntl-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl/SuisseIntl-ThinItalic.woff2') format('woff2'),
    url('/fonts/SuisseIntl/SuisseIntl-ThinItalic.woff') format('woff'),
    url('/fonts/SuisseIntl/SuisseIntl-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

