@import '@/styles/base';

.back_button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @include text-body;
  text-decoration: none;
  color: currentColor;

  svg {
    width: px-to-rem(40);
    height: auto;
    margin-right: px-to-rem(10);
  }
}
