@import '@/styles/base';

.links {
  .link {
    color: currentColor;
    text-decoration: none;
  }
}

.link {
  position: relative;
  display: block;
  width: max-content;

  span {
    @include transition(opacity 0.35s);
  }
  
  &.has_active_styles {
    span {
      opacity: 0.5;
    }
    
    &.active {
      span {
        opacity: 1;
      }
    }

    @include non-mobile-hover {
      span {
        opacity: 1;
      }
    }
  }
  
  &.no_active_styles {
    span {
      opacity: 1;
    }

    @include non-mobile-hover {
      span {
        opacity: 0.5;
      }
    }
  }
  
  &.highlighted {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 100%;
      display: block;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: #8fff00;

      @include viewport-tablet-min {
        margin-top: 5px;
      }

      @include viewport-phone {
        margin-top: 1px;
        margin-left: 2px;
      }
    }
  }
}
