@import '@/styles/base';

.section_slider {
  --height: calc(100 * var(--vh));

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--height);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: var(--gap);

  @include viewport-desktop {
    --gap: 4px;
  }
  @include viewport-tablet {
    --gap: 3px;
  }
  @include viewport-phone {
    --gap: 2px;
  }

  @include transition((opacity 0.5s, visibility 0.5s));

  &.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  
  border-radius: 10px;
  overflow: hidden;
  transform: translateZ(0);
}
